@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");

@layer base {
  html {
    font-family: "Poppins", sans-serif;
  }
}

::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e3e3e3;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8b5cf6;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6846b9;
}